body{					/*COR DE FUNDO*/
  background-color: black;
}

.terminal {		/*TERMINAL (INPUT E OUTPUT)*/
	
	margin-top: 20%;
	border: 3px solid green;
	border-radius: 10px;
	padding-top: 5px;
  	padding-right: 50px;
  	padding-bottom: 50px;
  	padding-left: 50px;

 

	.terminal__input {
	    font-family: monospace;
	    font-style: bold;
	    color: #009e40; 
	    margin-top: 10px;
	    flex-grow: 1;
	    background-color: transparent;
	    border: none;
	    width: 100%;
	    font-size: 1.2rem;
	    line-height: 1.4rem;
	    outline: none;
	}




  .terminal__output {
    color: #009f20;
    font-family: monospace;
    font-size: 16px;
  }

   
  

}

.table_sds				/*TABELA SDS*/
{
	text-color: green;
	color: green;
	border: 2px solid green;
	margin-left: 25px;
	margin-right: 25px;
}


.header {				/*CABEÇALHO DO SITE*/

	text-align: center;

  h1{
    color: #009f20;
    font-family: 'Noto Sans', monospace;
    font-size: 50px;
    font-weight: bold;
  }

  p{
    color: white;
    font-family: 'Noto Sans', monospace;
    font-size: 20px;
  }


}

.github{		/*Logotipo Github*/
	
	img{
		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 25%;
  		
	}

	.invert{
		filter: invert(100%);	/*Filtro de Inversão de Cores*/
	}
}


.error-popup {						/*POPUP*/
	background-color: #1a1a1a;
	color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem;
	box-shadow: 0 0 1rem #000;
	z-index: 999;
	border: 2px solid #808080; /* add grey outline */
}

.error-popup__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
}

.error-popup__title {
	font-size: 1.5rem;
	font-weight: bold;
}

.error-popup__close-btn {
	background-color: transparent;
	border: none;
	color: grey;
	cursor: pointer;
	font-size: 1.5rem;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	border-radius: 50%;
	height: 1.5rem;
	width: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-popup__content {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 2px solid #808080; /* add grey box below text */
	padding-top: 1rem;
}


.error-popup__text {
	font-size: 1.5rem;
	text-align: center;
	font-family: monospace;
	white-space: pre-wrap;
}
